body {
			text-align:center;
		}
		
		#page {
			width:968px;
			text-align: left;
			margin: 16px auto 20px auto;
			background-color: #8c8c8c;
			}
		#sidebar {
			float: left;
			width: 200px;
			border: 1px solid #800;
			}
		#content {
			float: left;
			width: 600px;
			border: 1px solid #f00;
			padding: 10px;
			}
